{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
Registro Nueva Entidad
{% endblock %}

      {% block navbar %}
    <div class="mobile-menu">
      <a href="LandingPage.Home.html" class="">
        <span></span>
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url 'estate:estate_detail' user_id %}">INICIO</a>
        </li>
        <li class="nav-item">
          <a href="#">¿QUIENES SOMOS?</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#">CONTACTO</a>
        </li>
        <li class="nav-item">
          <div class="separator"></div>
        </li>
        <li class="nav-item">
          <a href="{% url 'users:login' %}">CERRAR SESION</a>
        </li>
      </ul>
    </div>
    <div class="main-container">
      <nav class="landing-page-nav">
        <div class="container d-flex align-items-center justify-content-between">
          <a class="" href="LandingPage.Home.html">
            <span class="white"></span>
            <span class="dark"></span>
          </a>
          <ul class="navbar-nav d-none d-lg-flex flex-row">
            <li class="nav-item">
              <a href="{% url 'estate:estate_detail' user_id %}">INICIO</a>
            </li>
            <li class="nav-item">
              <a href="#">¿QUIENES SOMOS?</a>
            </li>
            <li class="nav-item">
              <a href="#">CONTACTO</a>
            </li>
            <li class="nav-item pl-2">
              <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" href="{% url 'users:login' %}">CERRAR SESION</a>
            </li>
          </ul>
          <a href="#" class="mobile-menu-button">
            <i class="simple-icon-menu"></i>
          </a>
        </div>
      </nav>
    </div>
      {% endblock %}



{% block content %}
<div class="display-1">
    Editar Finca
</div>
<form action="{% url 'estate:estate_edit' estate_id user_id %}" method="POST" class="dark-background" enctype="multipart/form-data">
    {% csrf_token %}

    <label class="form-group has-top-label">
        <input type="text" value="{{ estate.name }}" name="name" class="form-control" />
        <span>NOMBRE</span>
    </label><br>
    <span>DEPARTAMENTO</span>
        <select id="slc_departamento" onload="myNewFunction(this);" class="form-control"></select><br>

    <span>MUNICIPIO</span>
        <select id="slc_municipio" name="departament" class="form-control"></select><br>
    <label class="form-group has-top-label">
        <input class="form-control" name="image" type="file"  value="{{ estate.image }}"  />
        <span>SUBIR FOTO</span>
    </label>

    <input type="hidden" id="nuevo" name="country">
    <button class="btn btn-outline-semi-light btn-xl mt-4">REGISTRAR</button>
</form><br><br>
{% endblock %}


{% block footer %}
{% endblock %}

{% block extrajs %}
        <script>
            function myNewFunction(sel) {
                var departamento = sel.options[sel.selectedIndex].text;
                $('#nuevo').val(departamento);
            }
        </script>
        <script src="{% static 'js/municipios.js' %}"></script>
        <script src="{% static 'js/script_signup.js' %}"></script>
{% endblock %}

